.game-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e2dbdb;
}

.game-list-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.game-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px; /* Adjust the width as needed */
  padding: 16px;
  margin: 8px;
  border: 1px solid #9a9595;
  border-radius: 4px;
}

.game-list-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 16px;
}

.game-list-item-details {
  text-align: center;
}

.game-list-item-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.game-list-item-platforms {
  font-size: 14px;
  color: #888;
}

.home {
  padding: 10px 20px;
  background-color: #46484a;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.searchButton {
  width: 125px;
  margin-right: 25px;
}

.clearButton {
  width: 125px;
}
