.shopping-cart {
  margin: 20px;
  padding-top: 60px;
  height: 100%;
  background-color: #f8f8f8;
}


.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.cart-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.empty-cart {
  font-size: 18px;
  font-style: italic;
  color: #888;
}

.cart-items {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #352323;
  padding: 10px;
}

.cart-title {
  align-items: center;
  text-align: center;
}
.cart-item .game-info {
  display: flex;
  align-items: center;
}

.game-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
}

.game-details {
  display: flex;
  flex-direction: column;
}

.game-name {
  font-weight: bold;
  color:  rgb(57, 87, 133);
}

.game-price {
  color: #888;
}

.remove-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #c0392b;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-price {
  font-size: 18px;
  font-weight: bold;
}

.go-back-title {
  display: flex;
  justify-content: flex-end;
  color: #000;
}


.payment-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.payment-button:hover {
  background-color: #2980b9;
}

.balance {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.payment-success {
  font-size: 24px;
  font-weight: bold;
  color: green;
  margin-top: 10px;
}

.return-link {
  display: inline-block;
  background-color: #96a497;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.return-link:hover {
  background-color: #272827;
}
