* {
  color: white;
  margin-top: 60px; 
  padding: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  #nav-mobile {
    display: flex;
    align-items: center;
    padding: 0;
    font-family: sans-serif;
    
  }
  
  #nav-mobile ul {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: auto;
    text-align: left;
    font-family:sans-serif;
    
    
  }
  #nav-mobile li {
    margin-right: 0.75rem;
    font-size: small;
    font-family: Verdana;
    
  }
  
  .brand-logo {
    font-size: 1.65rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    color: rgb(211, 211, 226);
    font-family:sans-serif;
  }
  
  .navigation-container {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  
  .login-button {
    margin-left: auto;
    text-decoration: none;
  }

  #nav-mobile li:hover{
    background-color: rgb(143, 143, 143);
    margin-left: 1rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: 1rem;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:999; /* Ajusta el valor según sea necesario */
  }

  
  @media (max-width: 600px) {
    #nav-mobile {
      flex-direction: column;
      align-items: center;
      color: #000000;
    }
    #nav-mobile ul {
      justify-content: center;
      color: #000000;
    }
    #nav-mobile li {
      margin: 0.5rem 0;
      color: #000000;
    }
    #nav-mobile li:last-child {
      margin-right: 0;
      margin-top: 1rem;
      color: #000000;
      text-decoration: none;
    }
  
  }
  ul, h4, a {
    color: white;
  }

 