* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.container {
  max-width: 1170px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 20vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
  
}

ul {
  list-style: none;
  color: white;
  flex-grow: 1;
}
ul li {
  color: white;
}
p {
  color: white;
}

.footer {
  background: #000;
  color: #fff;
  padding: 30px 0;
  width: 100%;
  bottom: 0;
  
}

.footer-col {
  width: 25%;
  padding: 0 15px;
  color: white;
  
}

.footer-col h4 {
  font-size: 14px;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.copy {
  padding-top: 25px;
  color: white;
  
}
 